 .processBar{
      float: left;
      width: 200px;
      margin-top: 15px;
    }
    .processBar .bar{
      background: rgb(230, 224, 236);
      height: 3px;
      position: relative;
      width: 185px;
      margin-left: 10px;  
    }
    .processBar .b-select{
      background: rgb(96, 72, 124);
    }
    .processBar .bar .c-step{
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgb(230, 224, 236);
      left: -12px;
      top: 50%;
      margin-top: -4px;
    }
    .processBar .bar .c-select{
      width: 10px;
      height: 10px;
      margin: -5px -1px;
      background:rgb(96, 72, 124);

    }
    .main-hide {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .poetry{
    	color: rgb(96, 72, 124); 
    	font-family: KaiTi_GB2312, KaiTi, STKaiti; 
    	font-size: 16px; 
    	background-color: transparent; 
    	font-weight: bold; 
    	font-style: normal; 
    	text-decoration: none;
    }
    button{
    	width: 80px;
	    line-height: 30px;	    
	    font-size: 11px;
	    color: rgb(116, 42, 149);
	    text-align: center;
	    border-radius: 6px;
	    border: 1px solid #e2e2e2;	    
	    cursor: pointer;
	    background-color: #fff;
	    outline:none;
    }
    button:hover{
      border: 1px solid rgb(179, 161, 200);
    }
 